<%= layout("./layouts/boilerplate") %>
<section class="show">
    <section class="authorInfo">
        <h1>
            author :
            <a href="/users/<%=story.author.id %>">
                <%= story.author.fullName %></a
            >
        </h1>
    </section>
    <div>
        <h2>title</h2>
        : <%= story.title %>
    </div>
    <div class>
        <h2>body</h2>
        <div id="body"></div>
        <script>
            let body = document.getElementById("body");
            body.innerHTML = " <%-story.body %>";
        </script>
    </div>
    <div>
        <h2>createAt</h2>
        : <%= story.createdDate %>
    </div>
    <div>
        <h2>likes number</h2>
        <a href="/stories/<%=story.id %>/like">
            <button>like</button>
        </a>
        <a href="/stories/<%=story.id %>/dislike">
            <button>dislike</button>
        </a>
        : <%= story.likes %>
    </div>
    <a href="/stories/<%= story.id %>/edit">edit Story </a>
    <form action="/stories/<%- story.id %>?_method=delete" method="post">
        <button>delete the Story</button>
    </form>
    <hr />
    <section class="createComment">
        <form action="/stories/<%= story.id %>/comments" method="post">
            <input type="text" name="comment[body]" />
            <button>comment</button>
        </form>
    </section>
    <section class="displayComments">
        <% for (let comment of story.comments) {%>
        <div>
            <%= comment.body %>
            <form
                action="/stories/<%= story.id %>/comments/<%= comment.id %>?_method=delete"
                method="post"
            >
                <button>delete comment</button>
            </form>
        </div>

        <% } %>
    </section>
</section>
