<%= layout("/layouts/boilerplate") %>
<section class="show-user">
    <div class="info-container">
        <div class="user-info">
            <div class="img-name">
                <img src="<%= user.image %>" alt="" class="user-image" />
                <div class="name"><%= user.fullName %></div>
            </div>
            <div class="follow-box">
                <% if(isFollowedResult) {%>
                <a href="/users/<%= user.id %>/unflow" class="btn btn-states"
                    >unFollow</a
                >
                <% } else {%>
                <a href="/users/<%=user.id %>/follow" class="btn btn-states"
                    >follow</a
                >
                <% } %>
            </div>
        </div>
        <div class="more-info">
            <div class="email">
                <span class="title">Email </span>
                <%= user.email %>
            </div>
            <div class="joined">
                <span class="title"> Joined </span>
                <%= user.createdDate %>
            </div>
            <div class="follow-container">
                <div class="follow">
                    <span class="title">follow </span>
                    <%= user.followedAuthors.length %>
                    <i class="fa fa-solid icon fa-user"></i>
                </div>
                <div class="Followed-by">
                    <span class="title followed-by"> Followed by </span>
                    <%= followedByNumber %>
                    <i class="fa fa-solid icon fa-user"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="stories-container activeMainContainer">
        <div class="box">
            <div class="box-title title">Story</div>
            <div class="time title">Created</div>
        </div>
        <% for (let story of user.stories ) {%>
        <div class="box">
            <div class="box-title">
                <a href="/stories/<%=story.id%>"><%= story.title %></a>
            </div>
            <div class="time"><%= story.createdDate %></div>
        </div>

        <% } %>
    </div>
</section>
